.datacontent{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  gap: -1.5rem;
  color: rgb(0, 83, 165);
}
.pr-tit{
  font-weight: 900;
  display: grid;
  grid-template-columns: 20% 80%;
  gap: 15rem;
  text-align: left;
  max-height: 12rem;
}
.status{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.status2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.pr-tit div{
  margin-top: 0.3rem;
}
.pretit{
  font-size: 2.5rem;
  text-transform: capitalize;
  font-weight: 900;
  text-align: left;
  white-space: nowrap;
  color: rgb(0, 83, 165);
}
.tasktitle{
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 900;
  white-space: nowrap;
  color: rgb(44, 39, 39);
}
.bordertop{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: solid 1.5px;
}
.enlvolver{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  background-color: rgb(255, 0, 0);
  border-radius: 0.5rem;
  text-align: center;
  padding: 0.5rem;
  font-family: "Lato", sans-serif;
  border-color: rgb(202, 202, 202);
  border: solid 1.5px;
  cursor: pointer;
}
.boolver{
  position: fixed;
  bottom: 30px;
  left: 30px;
}
.marg{
  margin-bottom: 1rem;
}
.let {
  font-size: 2rem;
}
h1 span{
  font-weight: 900;
}
body{
  font-size: 0.9rem;
  margin-left: 2rem;
  font-family: "Lato", sans-serif;
  margin-right: 2rem;
}
.txtdesc{
  font-size: 0.8rem;
  color: rgb(128, 128, 128);
  text-transform: capitalize;
  max-height:10rem;
  overflow-y: auto;
}
.estado{
  font-size: 1rem;
  color: rgb(0, 0, 0);
  text-transform: capitalize;
}
.tit-estado {
  text-transform: uppercase;
  font-weight: 900;
}
.tit-estado span{
  font-weight: 400;
}
.column{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  font-weight: 900;
}
.column4{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 0.7rem;
  font-weight: 900;
}
.column span{
  font-weight: 500;
}
.column4 span{
  font-weight: 500;
}
.grid50{
  display: grid;
  grid-template-columns: 70% 30%;
}
@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
.estado-circulo {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  animation: blink 1.5s infinite;
  border: solid 1px;
}
.col2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: solid 1.5px;
  padding: 2rem;
}
.col3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inest{
  background-color: rgb(255, 255, 255);
  border: solid 1px;
  border-radius: 0.5rem;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}
.ti{
  color: black;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 900;
  text-align: center;
}
.selc{
  border-radius: 0.5rem;
  background-color: gray;
  color: white;
  text-align: center;
  border: none;
}
.redat{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15rem;
  border-bottom: solid 1.5px;
  border-top: solid 1.5px;
}
#usersColumn {
  margin-top: 8.9rem;
  margin-left: 5rem;
  display: none;
  border: solid 1.5px;
  border-radius: 0.5rem;
  color: rgb(0, 83, 165);
  /* MODIFICACIÓN: Se fija la altura y se agrega scroll interno para evitar que su expansión empuje la sección inferior */
}
.selel{
  background-color: gray;
  color: white;
  border: none;
  border-radius: 0.5rem;
  text-transform: uppercase;
  text-align: center;
  max-width: 10.5rem;

}
.asisub{
  background-color: rgb(0, 255, 30);
  color: white;
  border: none;
  border-radius: 0.5rem;
  text-transform: uppercase;
  text-align: center;
  padding-left: 3.6rem;
  padding-right: 3.6rem;
}
.textarea-container textarea{
  height: 1.4rem;


}
.desub{
  color: rgb(255, 0, 0);
  border: solid 1.5px;
  border-radius: 50%;
  text-transform: uppercase;
  text-align: center;
  padding-left: 0.9rem;
  padding-right: 1.3rem;
  padding-top: 1.3;
  padding-bottom: 1.3;
  text-decoration: none;
  border: none;
  font-size: 1.2rem;
  font-weight: 900;
  background-color: white;
  cursor: pointer;
}
.asicont{
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.descont{
  margin-bottom: 1.3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.asicont2{

  display: flex;
  flex-direction: column;
  gap:0.5rem;
  align-items: center;
  justify-content: left;
  margin-left: 35rem;
  text-align: center;
  /* MODIFICACIÓN: Se usa position sticky para fijar la posición de la sección de "Usuarios asignados" */
}
.asicontasd{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  text-align: center;
  margin-bottom: 0.7rem;
  /* MODIFICACIÓN: Se usa position sticky para fijar la posición de la sección de "Usuarios asignados" */
}
.column2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  font-weight: 900;
}
/* Estilo para el botón toggleUsersColumn */
#toggleUsersColumn{
  font-weight:900;
  padding: 0.8rem;
  border-radius:50%;
  padding-left: 1rem;
  padding-right: 1rem;
  border: solid 2px;
  color:rgb(0, 83, 165);
  background-color: white;
}
.masen{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  max-width: 20.5rem;
  color:rgb(0, 83, 165);
  background-color: white;
  white-space: nowrap;
  margin-top: 1rem;
  margin-left: 0.4rem;
}
#ale{
  margin-top: 0.8rem;
}
#caja{
  border-radius: 0.5rem;
  border: solid 1.5px;
  border-color:rgb(0, 83, 165) ;
  padding-bottom: 1.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
#assignedUsersContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.r5{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.user-assigned-item{


  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  min-height: 5rem;
  min-width: 3rem;
  color: rgb(0, 0, 0);
  border-color: rgb(0, 83, 165);
  font-weight: 700;
  border-bottom: solid 0.5px;

  text-transform: capitalize;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;
  text-align: left;
}
/* MODIFICACIÓN: Se modificó el selector para el primer elemento de .user-assigned-item */
.user-assigned-item:first-child {
  border-top: none;
}
/* MODIFICACIÓN: Se modificó la regla para la sección de scroll */
.scrolll {
  position: relative;
  max-height: 75px;
  min-width: 300px;
  overflow-y: auto;
  /* overflow-x: scroll; */
  border: 1px solid #ccc;
  border: none;
}
.user-assigned-item span{
  text-align: left;
}
.form-com{
  display: grid;
  grid-template-columns: 50px auto;
  max-width:48.7rem;
  margin-bottom: 2rem;
  align-items: center;
}
.form-com textarea{
  resize: none;
  min-height: 2.4rem;
  font-size: 2rem;
  align-items: center;
}
.icon{
  border: none;
  border-radius: 50%;
  border-color: rgb(176, 176, 176);
  background-color: white;
}
.icon svg{
  color: black;
  border: none;
}
.bbt{
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  color: rgb(0, 83, 165);
}
.comment-content{
  text-align: left;
  align-items: center;
  justify-content: center;

}
.comment-content::first-letter {
  /* Transforma la primera letra a mayúscula */
  text-transform: uppercase;
}
.horizontal{
  display: flex;
  flex-direction: row;
  align-items: center;

}
.horizontal2{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6.6rem;
}
.avatar{
  width: 40px; height: 40px; border-radius: 50%; display: flex; align-items: center; justify-content: center; color: white; font-weight: bold;
  text-transform: uppercase;


}
.verticalassign{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.7rem;
}
.verticalassign-ad{
  display:grid;
  grid-template-columns: 70% 30%;
  align-items: center;
  justify-content:center;
  gap: 2rem;
  max-width: 45rem;
}

.gr5{
  display: grid;
  grid-template-columns: 50% 50%;
  max-width: 10rem;
  margin-left: 5rem;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}
.gr5-nad{
  display: grid;
  grid-template-columns: 70% 30%;
  max-width: 25rem;
  margin-left: 3rem;
  gap: 3rem;
  justify-content: center;
  align-items: center;

}
.comment-meta-ad-s{
  text-align: center;
}
.gr5-tit{
  display: grid;
  grid-template-columns: 50% 50%;
  max-width: 10rem;
  margin-left: 3.1rem;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  white-space: nowrap;
}
.gr5-tit-nad{
  display: grid;
  grid-template-columns: 50% 50%;
  min-width: 25rem;
  margin-left: 3.1rem;
  gap: 15rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  white-space: nowrap;
}
.gr5-tit2{
  display: grid;
  grid-template-columns: 50% 50%;
  min-width: 10rem;
  margin-left: 3.1rem;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  white-space: nowrap;
}

.comment-content{
  max-width: 18.2rem;
  word-break: break-all;
  overflow-wrap: break-word;
  max-width: 50%;
  white-space: pre-wrap;
  overflow-y: scroll;
  max-height: 7.8rem;
  overflow-y: auto;
  margin-left: 3.5rem;
}
.comment-meta{
  display: flex;
  flex-direction: row;
  gap: 4rem;
  text-transform: capitalize;

}
.norap{
  white-space: nowrap;
text-align: center;
}

.comment-meta2{
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 8rem;
  text-transform: capitalize;
}
.over-content{
  max-width: 10ch;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
}
.point{
  cursor: pointer;
}

.over-content2{
  max-width: 7.6ch;
  overflow: hidden;
  text-align: center;

}
.comentusname{
  max-width: 15ch;
  overflow: hidden;
  white-space: nowrap;
}
.comment-item{

  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  text-align: center;
  justify-content: left;
  align-items: left;
  border-bottom:solid 1.5px;
  border-color:rgb(0, 83, 165) ;
  padding-bottom:1rem;
  max-height: 12rem;
}
.asign-item{
  display:grid;
  grid-template-rows: 50% 50%;
  margin-bottom: 10px;
  margin-top: 10px;
  /*text-align: center;*/
  /*justify-content: left;*/
  align-items: left;
  border-bottom:solid 1.5px ;
  border-color:rgb(0, 83, 165) ;
  padding-bottom:1rem;
  max-height: 12rem;

}
.asign-item-ad{
  text-align: center;
  /*justify-content: left;*/

  border-bottom:solid 1.5px;
  border-color:rgb(0, 83, 165) ;
  padding-bottom:0.5rem;
  max-height: 12rem;
  min-width: 35rem;
}

.over{
  max-height: 15rem;
  overflow: auto;
}
.over2{
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.tit-coment{
  color: rgb(0, 83, 165);
  margin-top: 1.3rem;
}
.unir{
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
}
.avatar {

  background-color: blue;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.avatar span{
  text-transform: capitalize;
  font-weight:bold;
  overflow: hidden;
  white-space: nowrap;
  max-width: 1.5ch;
  text-align: center;
  justify-content: center;

}
.masenn{
  font-weight: 900;
  color:rgb(0, 83, 165);
  background-color: white;
  white-space: nowrap;
  border-radius: 10rem;
  border: solid 1.5px;
  border-color:rgb(0, 83, 165) ;
  padding: 0.7rem;
}
.columna{
  display: flex;
  flex-direction: column;
  gap: 2.7rem;
}

#miGrid{
  display: block;
  &.visible{
    display: grid;
  }
}
.enl{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  background-color: rgb(170, 170, 170);
  border-radius: 0.5rem;
  text-align: center;
  padding: 0.5rem;
  font-family: "Lato", sans-serif;
  border-color: rgb(202, 202, 202);
  border: solid 1.5px;
}
.boo{
  position: fixed;
  bottom: 30px;
  right: 30px;
}
.state{
  border:solid 1.2px;
  border-color: black;
  border-radius: 0.5rem;
  padding: 0.2rem;
}
